<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>User Management</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <div class="nav_image">
                <a href="/postall"><image src=/static/images/logo.png></a>
            </div>
            <div class="nav_but">
                {% if session["logged_in"] %}
                    Welcome {{ session["first_name"] }}!
                    <a href="/logout">Log Out</a>
                {% else %}
                    You are not logged in!
                <a href="/signup">Sign Up</a>
                <a href="/login">Login</a>
                {% endif %}
            </div>
        </nav>
        {% for message in get_flashed_messages() %}
            <p class="message">{{ message }}</p>
        {% endfor %}
        </div>
        {% block content %}
        {% endblock %}
    </body>

</html>