{% extends "_layout.html" %}

{% block content %}
<div class="login">
    <div class="login_form">
        <div class="logo_login">
            <image src=static/images/logo.png>
        </div>
        <form method="POST">
            <div class="emailform">
                <input name="email" type="email" placeholder="Email">
            </div>
            <br>
            <div class="passwordform">
                <input id="password" name="password" type="password" placeholder="Password">
            </div>
            <br>
            <div class="login_button">
                <button>Login</button>
            </div>
        </form>
    </div>
</div>
<script>
let password = document.querySelector('#password');
let showButton = document.querySelector('#show-password');

showButton.addEventLister('click', togglePassword);

function togglePassword() {
    if (password.type == 'password') {
        password.type = 'text';
        showButton.textContent = 'Hide';
    } else {
        password.type = 'password';
        showButton.textContext = 'Show';
    }
}
</script>

{% endblock %}