{% extends "_layout.html" %}

{% block content %}
<div class="login">
    <div class="login_form">
        <div class="logo_login">
            <image src=static/images/logo.png>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <div class="first_name">
                <input name="first_name" placeholder="First Name">
            </div>
            <br>
            <div class="last_name">
                <input name="last_name" placeholder="Last Name">
            </div>
            <br>
            <div class="emailll">
                <input id= "email" name="email" type="email" placeholder="Email">
                <p id="message"></p>
            </div>
            <br>
            <div class="passwordd">
                <input id="password" name="password" type="password" placeholder="Password">
            </div>
            <label>Date of Birth</label>
            <input name="birthday" type="date">
            <br>
            <label>Profile Picture</label>
            <input type="file" name="image">
            <br>
            <div class="login_button">
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>
<script>
let input = document.querySelector('#email');
let message = document.querySelector('#message');
    
input.addEventListener('input', checkUniqueEmail);
    
async function checkUniqueEmail() {
    let response = await fetch('checkemail?email=' + input.value);
    let json = await response.json();
    if (json.exists) {
        message.style.color = 'red';
        message.textContent = 'That email already exists.';
    } else if (input.validationMessage) {
        message.style.color = 'orange';
        message.textContent = input.validationMessage;
    } else if (input.value) {
        message.style.color = 'green';
        message.textContent = 'That email is available!';
    } else {
        message.textContent = '';
    }
}
</script>
    

<script>
let password = document.querySelector('#password');
let showButton = document.querySelector('#show-password');

showButton.addEventListener('click', togglePassword);

function togglePassword() {
    if (password.type == 'password') {
        password.type = 'text';
        showButton.textContent = 'Hide';
    } else {
        password.type = 'password';
        showButton.textContent = Show;
    }
}
</script>

{% endblock %}