{% extends "_layout.html" %}
{% block content %}

<div class="viewwholeuser">
    <div class="userview">
        <div class="userview">
            <div class="name_profileimage">
                <div class="profileimage">
                    <img src="/{{ result[0]['user.image'] }}" alt="profile" height="64">
                </div>
                <h1>{{ result[0]['first_name'] }} {{ result[0]['last_name'] }}</h1>
            </div>
        </div>
        <div class="userbio">
            <p>Email: <a href="maito:{{ result[0]['email'] }}">{{result[0]['email'] }}</a></p>
            <p>Birthday: {{ result[0]['birthday'] }}</p>
        </div>
    </div>

    <div class="postinventory">
        <table class="view_center">
            {% for row in result %}
                <tr>
                    <td>
                        <a href="/post?id={{ row['id'] }}"><img src="{{ row['image'] }}" alt="post" height="600px"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% if "logged_in" in session and 
    (session['id'] == result['id'] or session['role'] == 'admin') 
%}
    <a href="/update?id={{ result['id'] }}">Edit</a>
    <a href="/delete?id={{ result['id'] }}" onclick="return confirm('Are you sure?')">Delete</a>
{% endif %}

{% endblock %}